name: test

on: [push]

jobs:
  build:
    if: ${{!startsWith(github.ref, 'refs/tags/')}}
    strategy:
      fail-fast: false
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16.x'
      - name: Install deps
        run: yarn install
      - name: Build
        run: yarn run build

  create-release:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-18.04
    steps:
      - name: Create GH release
        uses: softprops/action-gh-release@v1
        with:
          draft: false
          prerelease: false
          tag_name: ${{github.ref_name}}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release-to-npm:
    runs-on: ubuntu-18.04
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16.x'

      - name: Install deps
        run: yarn install

      - name: Build
        run: yarn run build

      - run: echo '//registry.npmjs.org/:_authToken=${NPM_TOKEN}' >> .npmrc

      - run: yarn publish --access=public
        env:
          NPM_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
